* {
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
}

.home-div {
    display: flex;
    flex-direction: column;
}

.home-cont-img {
    display: grid;
    grid-template-columns: 50% 50%;
}

/*.home.img-container-left {
    display: flex;
}

.home-img-one {
    position: absolute;
    z-index: -1;
    margin-left: 30px;
}*/
